<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Admin</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <th:block th:replace="common_resources::common_css"></th:block>
    <th:block th:replace="common_resources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">

<header th:replace="~{common_header::header}"></header>
<aside th:replace="common_aside::aside"></aside>

<div class="wrapper">


    <!-- 内容区域 -->
    <!-- @@master = admin-layout.html-->
    <!-- @@block = content -->

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                AdminInformation
                <small>Admin Information</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/admin/all">AdminInformation</a></li>
                <li class="active">Admin Information</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <div class="box-body">

                <!--tabpages-->
                <div class="nav-tabs-custom">

                    <!--tab内容-->
                    <div class="tab-content">

                        <form >
                            <!--基础控件-->

                            <div class="tab-pane" id="tab-common">

                                <div class="row data-type">

                                    <div class="col-md-2 title">Account</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Account" name="username" id="username"  value="">
                                    </div>

                                    <div class="col-md-2 title">Name</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Name" name="name" id="name" value="">
                                    </div>

                                    <div class="col-md-2 title">Phone</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Phone" name="phoneNumber" id="phoneNumber">

                                        </div>
                                    </div>
                                    <div class="col-md-2 title">Email</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Email" name="email" id="email">

                                        </div>
                                    </div>


                                    <div class="col-md-2 title"></div>
                                    <div class="col-md-10 data text-center">
                                        <button type="button" class="btn bg-maroon" id="submit">Save</button>
                                        <button type="button" class="btn bg-default" onclick="history.back(-1);">Back</button>
                                    </div>

                                </div>
                            </div>
                            <!--基础控件/-->
                        </form>


                    </div>
                    <!--tab内容/-->

                </div>
                <!--tabpages/-->



            </div>

        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- @@close -->
    <!-- 内容区域 /-->


</div>
<script>
    $(function () {
        $("#submit").click(function (){
            addAdmin();
        });
    });
    function addAdmin() {

        var username=$("#username").val();
        var name=$("#name").val();
        var phoneNumber=$("#phoneNumber").val();
        var email=$("#email").val();

        var data={
            username:username,
            name:name,
            phoneNumber:phoneNumber,
            email:email
        };

        $.post("admin/add",data,function (result){
            if (result=="Add failed"){
                alert("Add failed,Account already exists");
                location.href="/admin_add.html";


            }else {

                alert("Added successfully");
                location.href="/admin/all";
            }



        })
    }

</script>

<footer th:replace="~{common_footer::footer}"></footer>

</body>

</html>