<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Information</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <th:block th:replace="common_resources::common_css"></th:block>
    <th:block th:replace="common_resources::common_js"></th:block>

</head>

<body class="hold-transition skin-purple sidebar-mini">

<header th:replace="~{common_header::header}"></header>
<aside th:replace="common_aside::aside"></aside>

<div class="wrapper">

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                AdminInformation
                <small>Admin InformationList</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/admin/all">AdminInformation</a></li>
                <li class="active">Admin InformationList</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List</h3>
                </div>

                <div class="box-body">

                    <!-- 数据表格 -->
                    <div class="table-box">

                        <!--工具栏-->
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">
                                    <a th:href="@{/admin_add}">
                                        <button type="button"  class="btn btn-default" title="New"><i class="fa fa-file-o"></i> New</button>
                                    </a>

                                </div>
                            </div>
                        </div>



                        <!--工具栏/-->

                        <!--数据List-->
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>

                                <th >Account</th>
                                <th >Name</th>
                                <th >Phone</th>
                                <th >Email</th>
                                <th >Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="admins:${adminPage.records}">
                                <input type="hidden" th:value="${admins.id}" id="adminId">
                                <td th:text="${admins.username}"></td>
                                <td th:text="${admins.name}"></td>
                                <td th:text="${admins.phoneNumber}"></td>
                                <td th:text="${admins.email}"></td>

                                <td class="text-center">
                                    <a th:href="@{/admin/desc(id=${admins.id})}" class="btn bg-gray btn-xs">详情</a>
                                    <a th:href="@{/admin/findRole(id=${admins.id})}" class="btn bg-blue btn-xs">Assign Roles</a>
                                    <a th:href="@{/admin/updateById(id=${admins.id})}" class="btn bg-olive btn-xs">Edit</a>
                                    <button type="button" class="btn bg-red btn-xs" th:id="${admins.id}" onclick="delAdmin(this.id)">Delete</button>

                                </td>
                            </tr>

                            </tbody>

                        </table>
                        <!--数据List/-->


                    </div>
                    <!-- 数据表格 /-->


                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <div class="box-footer">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            Total <span th:text="${adminPage.pages}"></span> pages，
                            Total<span th:text="${adminPage.total}"></span> records
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination"></ul>
                    </div>

                </div>
                <!-- /.box-footer-->



            </div>

        </section>
        <!-- 正文区域 /-->

    </div>

</div>
<script>

    function delAdmin(id) {
        if (confirm("Delete this item?")==true){
            deleteAdmin(id);
        }
    };
    function update(adminId) {
        console.log(adminId);
        $.get("/admin/updateById",{adminId:adminId},function (result){

        })
    }
    function deleteAdmin(adminId) {


        console.log(adminId);
        $.get("/admin/delete",{adminId:adminId},function (result){

            alert(result);
            location.href="/admin/all";
        })
    };

</script>
<footer th:replace="~{common_footer::footer}"></footer>
<script th:inline="javascript">

    var currentPage=[[${adminPage.current}]];
    var pages=[[${adminPage.pages}]];
    var context=[[${#servletContext.contextPath}]];
    // 分pages插件

    $(".pagination").bootstrapPaginator({
        bootstrapMajorVersion: 3, // bootstrap版本
        currentPage: currentPage, // 当前pages
        totalPages: pages, // 总pages数
        numberOfPages: 5, // 最多显示多少pages
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "Home";
                case "prev":
                    return "Previous";
                case "next":
                    return "Next";
                case "last":
                    return "Last";
                case "page":
                    return page;
            }
        },
        onPageClicked: function (event, originalEvent, type, page) { // 点击pages码执行的方法
                location.href =context+ "/admin/all?page=" + page;
        }
    });

</script>
</body>

</html>