<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EditCourse Information</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <th:block th:replace="common_resources::common_css"></th:block>
    <th:block th:replace="common_resources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">

<header th:replace="~{common_header::header}"></header>
<aside th:replace="common_aside::aside"></aside>

<div class="wrapper">


    <!-- 内容区域 -->
    <!-- @@master = admin-layout.html-->
    <!-- @@block = content -->

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                CourseInformation
                <small>Course Form</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/course/all">CourseInformation</a></li>
                <li class="active">Course Form</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <div class="box-body">

                <!--tabpages-->
                <div class="nav-tabs-custom">

                    <!--tab内容-->
                    <div class="tab-content">

                        <form >
                            <!--基础控件-->

                            <div class="tab-pane" id="tab-common">

                                <div class="row data-type">
                                    <input type="hidden" name="id" id="id" th:value="${course.id}">
                                    <div class="col-md-2 title">Course Name</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Course Name" name="courseName" disabled id="courseName" th:value="${course.courseName}">
                                    </div>

                                    <div class="col-md-2 title">Course Description</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Course Description" name="courseDesc" id="courseDesc" th:value="${course.courseDesc}">
                                    </div>

                                    <div class="col-md-2 title"></div>
                                    <div class="col-md-10 data text-center">
                                        <button type="button" class="btn bg-maroon" id="submit">Save</button>
                                        <button type="button" class="btn bg-default" onclick="history.back(-1);">Back</button>
                                    </div>

                                </div>
                            </div>
                            <!--基础控件/-->
                        </form>


                    </div>
                    <!--tab内容/-->

                </div>
                <!--tabpages/-->



            </div>

        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- @@close -->
    <!-- 内容区域 /-->


</div>
<script>
    $(function () {
        $("#submit").click(function (){
            updateCourse();
        });
    });
    function updateCourse() {
        var id=$("#id").val();
        var courseName=$("#courseName").val();
        var courseDesc=$("#courseDesc").val();

        var data={
            id:id,
            courseName:courseName,
            courseDesc:courseDesc
        };
        $.post("/course/update",data,function (result){

                alert(result);
                location.href="/course/all";

        })
    }

</script>

<footer th:replace="~{common_footer::footer}"></footer>

</body>

</html>