<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Teaching Plan</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <th:block th:replace="common_resources::common_css"></th:block>
    <th:block th:replace="common_resources::common_js"></th:block>
</head>

<body class="hold-transition skin-purple sidebar-mini">

<header th:replace="~{common_header::header}"></header>
<aside th:replace="common_aside::aside"></aside>

<div class="wrapper">


    <!-- 内容区域 -->
    <!-- @@master = admin-layout.html-->
    <!-- @@block = content -->

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                Teaching Plan管理
                <small>Add Teaching Plan</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/syllabus/all(teacherName=${#request.session.getAttribute('name')})}">Teaching Plan管理</a></li>
                <li class="active">Add Teaching Plan</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <div class="box-body">

                <!--tabpages-->
                <div class="nav-tabs-custom">

                    <!--tab内容-->
                    <div class="tab-content">

                        <form >
                            <!--基础控件-->

                            <div class="tab-pane" id="tab-common">

                                <div class="row data-type">

                                    <div class="col-md-2 title">Class Hours</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Class Hours" name="class_hour" id="class_hour"  value="">
                                    </div>

                                    <div class="col-md-2 title">Credits</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="Credits" name="credit" id="credit" value="">
                                    </div>

                                    <div class="col-md-2 title">Location</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Location" name="address" id="address">

                                        </div>
                                    </div>
                                    <div class="col-md-2 title">Teacher</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group">
                                            <input type="text" class="form-control" disabled th:value="${#request.session.getAttribute('name')}"  name="teacherName" id="teacherName">

                                        </div>
                                    </div>

                                    <div class="col-md-2 title">Opened Courses</div>
                                    <div class="col-md-4 data">
                                        <select class="form-control select2" name="courseName" id="courseName"  style="width: 100%;">

                                            <option th:each="course:${courseList}"  th:text="${course.courseName}"></option>
                                        </select>
                                    </div>


                                    <div class="col-md-2 title"></div>
                                    <div class="col-md-10 data text-center">
                                        <button type="button" class="btn bg-maroon" id="submit">Save</button>
                                        <button type="button" class="btn bg-default" onclick="history.back(-1);">Back</button>
                                    </div>

                                </div>
                            </div>
                            <!--基础控件/-->
                        </form>


                    </div>
                    <!--tab内容/-->

                </div>
                <!--tabpages/-->



            </div>

        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- @@close -->
    <!-- 内容区域 /-->


</div>
<script>
    $(function () {
        $("#submit").click(function (){
            console.log("OK")
            addStudent();
        });
    });
    function addStudent() {

        var class_hour=$("#class_hour").val();
        var credit=$("#credit").val();
        var address=$("#address").val();
        var courseName=$("#courseName").val()
        var teacherName=$("#teacherName").val();
        var username=[[${#authentication.name}]];

        var data={
            class_hour:class_hour,
            credit:credit,
            address:address,
            courseName:courseName,
            teacherName:teacherName,
            username:username
        };
        $.post("/syllabus/add", data,function (result){

                alert("Opened successfully");
                location.href="/syllabus/all?teacherName="+teacherName;




        })
    }

</script>

<footer th:replace="~{common_footer::footer}"></footer>

</body>

</html>