<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher Information</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <th:block th:replace="common_resources::common_css"></th:block>
    <th:block th:replace="common_resources::common_js"></th:block>

</head>

<body class="hold-transition skin-purple sidebar-mini">

<header th:replace="~{common_header::header}"></header>
<aside th:replace="common_aside::aside"></aside>

<div class="wrapper">

    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                TeacherInformation
                <small>Teacher List</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="/teacher/all">TeacherInformation</a></li>
                <li class="active">Teacher List</li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">

            <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List</h3>
                </div>

                <div class="box-body">

                    <!-- 数据表格 -->
                    <div class="table-box">

                        <!--工具栏-->
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                <div class="btn-group">
                                    <a th:href="@{/teacher_add}">
                                        <button type="button"  class="btn btn-default" title="New"><i class="fa fa-file-o"></i> New</button>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="box-tools pull-right" style="width: 300px">

                                <div class="has-feedback">
                                    <form th:action="@{/teacher/findByLike(condition=${condition})}" method="get">
                                        <div class="input-group margin">
                                            <input type="text" name="condition" th:value="${condition}" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-info btn-flat">Search</button>
                                            </span>
                                        </div>
                                    <!--<input name="condition" type="text" class="form-control input-sm" placeholder="Search">
                                    <button type="submit" class="glyphicon glyphicon-search form-control-feedback"></button>-->
                                    </form>
                                </div>

                        </div>

                        <!--工具栏/-->

                        <!--数据List-->
                        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>

                                <th >Employee ID</th>
                                <th >Name</th>
                                <th >Gender</th>
                                <th >Phone</th>
                                <th >Email</th>
                                <th >Position</th>
                                <th >Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="teachers:${teacherPage.records}">
                                <input type="hidden" th:value="${teachers.id}" id="teacherId">
                                <td th:text="${teachers.username}"></td>
                                <td th:text="${teachers.name}"></td>
                                <td th:text="${teachers.sex}"></td>
                                <td th:text="${teachers.phoneNumber}"></td>
                                <td th:text="${teachers.email}"></td>
                                <td th:text="${teachers.position}"></td>
                                <td class="text-center">
                                    <a th:href="@{/teacher/updateById(id=${teachers.id})}">
                                        <button type="button" class="btn bg-olive btn-xs" >Edit</button>
                                    </a>

                                    <button type="button" class="btn bg-red btn-xs" th:id="${teachers.id}" onclick="delTeacher(this.id)">Delete</button>

                                </td>
                            </tr>

                            </tbody>

                        </table>
                        <!--数据List/-->


                    </div>
                    <!-- 数据表格 /-->


                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <div class="box-footer">
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            Total <span th:text="${teacherPage.pages}"></span> pages，
                            Total<span th:text="${teacherPage.total}"></span> records
                        </div>
                    </div>

                    <div class="box-tools pull-right">
                        <ul class="pagination"></ul>
                    </div>

                </div>
                <!-- /.box-footer-->



            </div>

        </section>
        <!-- 正文区域 /-->

    </div>

</div>
<script>

    function delTeacher(id) {
        if (confirm("Delete this item?")==true){
            deleteTeacher(id);
        }
    };
    function update(teacherId) {
        console.log(teacherId);
        $.get("/teacher/updateById",{teacherId:teacherId},function (result){

        })
    }
    function deleteTeacher(teacherId) {


        console.log(teacherId);
        $.get("/teacher/delete",{teacherId:teacherId},function (result){

            alert(result);
            location.href="/teacher/all";
        })
    };

</script>
<footer th:replace="~{common_footer::footer}"></footer>
<script th:inline="javascript">

    var currentPage=[[${teacherPage.current}]];
    var pages=[[${teacherPage.pages}]];
    var context=[[${#servletContext.contextPath}]];
    var condition=[[${condition}]];
    // 分pages插件

    $(".pagination").bootstrapPaginator({
        bootstrapMajorVersion: 3, // bootstrap版本
        currentPage: currentPage, // 当前pages
        totalPages: pages, // 总pages数
        numberOfPages: 5, // 最多显示多少pages
        itemTexts: function (type, page, current) {
            switch (type) {
                case "first":
                    return "Home";
                case "prev":
                    return "Previous";
                case "next":
                    return "Next";
                case "last":
                    return "Last";
                case "page":
                    return page;
            }
        },
        onPageClicked: function (event, originalEvent, type, page) { // 点击pages码执行的方法
            if (condition==null){
                location.href =context+ "/teacher/all?page=" + page;
            }else {
                location.href =context+ "/teacher/findByLike?page=" + page+"&condition="+condition;
            }
        }
    });

</script>
</body>

</html>