<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.selectcourse.mapper.RoleMapper">

    <select id="findRoleIdByAdmin" parameterType="int" resultType="int">
        SELECT user_role.role_id
        FROM admin
                 LEFT JOIN `user`
                           ON admin.username=`user`.username
                 LEFT JOIN user_role
                           ON `user`.id=user_role.user_id

        WHERE admin.id=#{id};
    </select>

    <delete id="deleteRoleAllPermission" parameterType="integer" >
        delete from role_permission where role_permission.role_id=#{rid}
    </delete>

    <insert id="addRolePermission" parameterType="integer">
        insert into role_permission values (DEFAULT,#{rid},#{pid})
    </insert>

</mapper>